
<h1>
<%= @doc.title %>
</h1>
<br/>
<%= @doc.content %>
<br/><br/>
<%= link_to "Fix Doc", edit_doc_path(@doc), class: 'btn btn-primary navbar-primary' %>
<%= link_to "Trash It", doc_path(@doc),class: 'btn btn-primary navbar-primary', method: :delete, data: {confirm: "Are you sure?" } %>