
<body id="page-top">

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <br/> <br/> <br/> <br/> <br/><br/><br/><br/><br/>  <br/> <br/> <br/> <br/> <br/><br/><br/> <br/> <br/> <br/> <br/><br/>
                <br/><br/> <br/> <br/> <br/> <br/><br/>
              
              
                <h1>My StoreApp</h1>
                     
                <hr>
                <p>Your Life's work.Organized,always</p>
                <%= link_to "You May Enter", new_user_registration_path, class:"btn btn-primary btn-xl page-scroll" %>
            </div>
        </div>
    </header>
           <br/> <br/> <br/> <br/> <br/><br/><br/><br/><br/>  <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> 
           <br/><br/><br/><br/><br/>  <br/> <br/> <br/> <br/> <br/>
           
    <section>
        <div class="section-content">
                <div class="section-content-inner">
                     <h2>Organize</h2>

                    <hr class="light">
                <p> simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five 
                centuries, but also the leap into electronic typesetting, remaining essentially unchanged.!</p>
                    
                </div>
        
        </div>
    </section>
             
   
     <aside>
        <div class="aside-content">
            <div class="aside-content-inner">
                <br/> <br/> <br/> <br/>   
            
              
              
                <h1>Go ahead!</h1>
                     
                <hr>
                <%= link_to "Join Now", new_user_registration_path, class:"btn btn-primary btn-xl page-scroll" %>
            </div>
        </div>
    </aside> 
   

   

</body>

</html>
